#{extends 'main.html' /}

Users' list :
<ul>
    #{list items:users, as:'user'}
        <li>${user.firstname} ${user.lastname}</li>
    #{/list}
</ul>

Add a new user :

#{form @Users.addUser()}
    <label for="AddUserFirstname">Firstname : </label>
    <input id="AddUserFirstname" type="text" name="user.firstname" value="${flash['user.firstname']}" />
    #{ifError 'user.firstname'}<span style="color: red;">Firstname is required</span>#{/ifError}<br/><br/>

    <label for="AddUserLastname">Lastname : </label>
    <input id="AddUserLastname" type="text" name="user.lastname" value="${flash['user.lastname']}"/>
    #{ifError 'user.lastname'}<span style="color: red;">Lastname is required</span>#{/ifError}<br/><br/>

    <input type="submit" value="Submit" id="AddUserSubmit" />
#{/form}

<div id="TestRaphael" style="width: 114px; height: 38px;"></div>

<script type="text/javascript">
    $(function() {
//        makeValidationTooltip("Mon beau  message");
    });

    function makeValidationTooltip(message, element) {
        if(element != undefined && element != null && $(element).length> 0) {
            alert($(element).offset().left + " - " + $(element).width());

            var textMargin = 30;
            var paper = Raphael("TestRaphael", 500, 500);

            var textShadow = paper.text(0, 0, message)
                    .attr({fill: '#421414',  'font-weight': 'bold', 'font-size': 15});

            var bgLength = textShadow.getBBox().width + textMargin;
            var background = paper.path("m 7.6437655,1.1306475 " + bgLength + ",0 0,35.7781375 -" + bgLength + ",0 0,-11.926046 -6.426588,-5.952326 6.426588,-5.97372 z")
                    .attr({fill: '90-#A92F2F-#CA4141', stroke: '#9D2C2C'});
            var bgWidth = background.getBBox().width + 5;
            var bgHeight = background.getBBox().height + 3;

            var text = paper.text(bgWidth/2 + 3, bgHeight/2, message)
                    .attr({fill: 'white',  'font-weight': 'bold', 'font-size': 15});

            textShadow.attr({x: bgWidth/2 + 4, y: bgHeight/2});
            textShadow.insertBefore(text);

            paper.setSize(bgWidth, bgHeight);
            $('#TestRaphael').width(bgWidth);
            $('#TestRaphael').height(bgHeight);
        }
    }
</script>

<script type="text/javascript">

    $(function() {
        $('input[type="submit"]').click(function(event) {
            event.preventDefault();

            var form = $(this).parents('form').eq(0);

            sendAjaxForm(form, function() { alert("hello"); });
        });
    });

    function sendAjaxForm(form, callback) {
        var url = form.attr('action') + "?" + form.serialize();

        $.getJSON(
                url,
                function(json) {
                    var valid = true;

                    for(var key in json) {
                        if(key == "id" && json[key] == "ValidationErrors") {
                            for(var e in json["errors"]) {
                                var error = json["errors"][e];

                                var input = form.find('[name="' + error['id'] + '"]').css("border", "1px solid red");
                                makeValidationTooltip(error['message'], input);
                            }

                            valid = false;
                        }
                    }

                    if(valid && callback != undefined) {
                        callback(json);
                    }
                }
        );
    }

    function addUserAjax() {

        var firstname = $('#AddUserFirstname').val();
        var lastname = $('#AddUserLastname').val();

        alert()

        $.getJSON(
            addUserUrl({ firstname: firstname, lastname: lastname}),
            function(json) {
                alert(json);
            }
        );
    }
</script>